{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":73,"column":0},"end":{"row":73,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":176,"mode":"ace/mode/text"}},"timestamp":1581962524715,"hash":"c5bc078b1f8debc0c3f99fa8f1683d92701c347b"}