{% extends 'base.html' %} {% block content %}


<div class="container">
    <div class="row">
        <h1 class="col s12 center-align" style="margin-top: 100px;">Add Recipe</h1><br><br><br>
        <div class="row">
            <form action="{{ url_for('insert') }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">restaurant_menu</i>
                        <input id="categories" name="categories" type="text" class="validate">
                        <label>Category:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">title</i>
                        <input id="title" name="title" type="text" class="validate">
                        <label>Title:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">add_shopping_cart</i>
                        <textarea type="textarea" name="ingredients" id="ingredients" type="text" class="materialize-textarea"></textarea>
                        <label>Ingredients:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">description</i>
                        <textarea type="textarea" name="method" id="method" type="text" class="materialize-textarea"></textarea>
                        <label>Method:</label>
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">poll</i>
                    <input name="nutrition" id="nutrition" type="text" class="validate">
                    <label>Nutrition:</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">access_time</i>
                    <input name="time" id="time" type="text" class="validate">
                    <label>Cooking time:</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_box</i>
                    <input id="author" name="author" type="text" class="validate">
                    <label>Author:</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">camera_alt</i>
                    <input id="img" name="img" type="url" class="validate">
                    <label>Insert image URL:</label>
                </div>
                <div class="input_field col s12">
                    <div class="row"><br><br><br><br>
                        <button class="btn waves-effect waves-light sml_button accent-3" type="submit">Add Recipe

                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}