{% extends 'base.html' %} {% block content %}

<div class='container'>
    <div class='header'>
        <strong>Recipes of The World</strong>
        <p>See the biggest collection of recipes, you can choose for yourself anything you wish!</p>
        <p>Breakfast, Lunch, Dinner and Dessert thats our categories</p>
    </div>
</div>

<div class='search-wrapper'>
    <div class='row search-input'>
        <div class='col-md-12'>
            <form action="{{ url_for('search') }}"method='POST'>
                <div class='input-field'>
                    <input id='search' name='search' placeholder='What would you like to cook today?' required>
                    <div class='center-align'>
                        <button class="btn waves-effect waves-light sml_button accent-3" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class='container'>
    <div class='row'>
        {% for recipe in recipes %}
        <div class='col-xs-12 col-md-4'>
            <a href="{{ url_for('view_specific', recipe_id=recipe._id) }}">
                <img style='height: 350px; width:100%; border: solid 5px #ddd; margin-top: 30px;'
                src='{{ recipe.img }}' alt='Image'>
            </a>
            <br>
            <br>
            <h3>{{ recipe.categories }}</h3>
            <a href="{{ url_for('view_specific', recipe_id=recipe._id) }}">
               <br>
               <span class='title'>{{ recipe.title }}</span>
            </a>
            <br>
            <br>
            <h4>Views: {{ recipe.views }}</h4>
            <br>
            <br>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}